/* -------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Trade+Winds&display=swap");
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* Global styles */
body,
body#tinymce.mce-content-body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

body {
  scrollbar-color: #3498DB #091B27;
}

a:hover {
  text-shadow: 0 0 8px #EEE8BF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75rem 0;
  padding: 0;
  font-weight: normal;
  font-family: "Trade Winds", cursive;
  color: #000;
  border: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  padding-bottom: 2px;
  background: url(../imgs/paint_border.png);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: left bottom;
}

h3 {
  font-size: 1.3em;
  text-indent: 10px;
}

h4 {
  font-size: 1.2em;
  text-indent: 8px;
}

h5 {
  font-size: 1.1em;
  text-indent: 6px;
}

h6 {
  font-size: 1em;
  text-indent: 4px;
}

#calendar-time-container h1,
#calendar-time-container h2 {
  color: rgba(255, 255, 255, 0.87);
  background: none;
}

label.checkbox {
  font-size: 1em;
}

#players {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#players h3 {
  color: #EEE8BF;
}

#players ol .player-name.self {
  color: #EEE8BF;
}

#menu #menu-items li h4 {
  color: #EEE8BF;
  font-size: 1.2em;
}

#menu #menu-items li > i {
  color: #EEE8BF;
  font-size: 1.2em;
}

textarea {
  border: 0 solid transparent;
  margin-top: 4px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000;
  background: #EEE8BF;
}

.app.sheet .editor-content,
.tox .tox-edit-area,
.tox-tinymce,
input[type="text"],
input[type="password"],
input[type="datetime-local"],
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
}

.tox-tinymce:focus,
.tox-tinymce:hover,
button:focus,
button:hover,
input[type="text"]:hover,
input[type="text"]:focus,
textarea:focus,
textarea:hover {
  -webkit-box-shadow: 0 0 8px #143A54;
  box-shadow: 0 0 8px #143A54;
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
  background: #3498DB;
}

.editor-edit {
  display: inline-block;
}

.app.sheet .editor-content {
  padding: 8px;
}

#navigation .nav-item {
  border: 1px solid #DBD5B0;
}

#navigation #nav-toggle {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#navigation #nav-toggle :hover {
  text-shadow: 0 0 10px #EEE8BF;
}

#navigation #scene-list .scene.gm {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#navigation #scene-list .scene.context,
#navigation #scene-list .scene.view {
  color: #EEE8BF;
  border: 1px solid #DBD5B0;
  border-bottom: 1px solid #EEE8BF;
  -webkit-box-shadow: 0 0 10px inset #EEE8BF;
  box-shadow: 0 0 10px inset #EEE8BF;
}

::-webkit-scrollbar-thumb {
  background: #143A54;
  border: 0 solid transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

#controls .control-tool,
#controls .scene-control {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#controls .control-tool.active,
#controls .control-tool:hover,
#controls .scene-control.active,
#controls .scene-control:hover {
  color: #EEE8BF;
  border: 1px solid #DBD5B0;
  border-bottom: 1px solid #EEE8BF;
  -webkit-box-shadow: 0 0 10px inset #EEE8BF;
  box-shadow: 0 0 10px inset #EEE8BF;
}

#hotbar .bar-controls,
#hotbar .macro {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#hotbar .bar-controls:hover,
#hotbar .macro:hover {
  color: #EEE8BF;
  border: 1px solid #DBD5B0;
  border-bottom: 1px solid #EEE8BF;
  -webkit-box-shadow: 0 0 10px inset #EEE8BF;
  box-shadow: 0 0 10px inset #EEE8BF;
}

.app {
  background: rgba(20, 58, 84, 0.7);
  border: 1px solid #091B27;
}

#players h3 i {
  margin: 0;
}

.sheet header.sheet-header {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.window-app .window-content {
  color: #000;
  background: #EEE8BF;
}

.window-app .window-header .window-title,
.window-app .window-header a {
  color: #EEE8BF;
}

.window-app .window-header .window-title {
  padding-left: 4px;
}

.window-app .window-header {
  border-bottom: 1px solid #DBD5B0;
}

.rollable:focus, .rollable:hover {
  text-shadow: 0 0 10px #EEE8BF;
  cursor: pointer;
  background-image: url("../icons/d10.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4px;
  margin: 4px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 0 solid transparent;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#sidebar {
  width: 320px;
}

#sidebar h2,
#sidebar h3,
#sidebar h4 {
  color: #EEE8BF;
}

#sidebar #sidebar-tabs > .item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#sidebar #sidebar-tabs > .item.active {
  color: #FFF;
  border: 1px solid #DBD5B0;
  -webkit-box-shadow: 0 0 6px inset #EEE8BF;
  box-shadow: 0 0 6px inset #EEE8BF;
}

#sidebar #sidebar-tabs {
  border-bottom: 1px solid #EEE8BF;
  -webkit-box-shadow: 0 0 10px #EEE8BF;
  box-shadow: 0 0 10px #EEE8BF;
}

#sidebar .tabs .item.active {
  text-shadow: 0 0 10px #EEE8BF;
}

#sidebar .sidebar-tab .directory-header input[type="text"] {
  text-align: left;
}

#sidebar .sidebar-tab .directory-list .directory-item img {
  border: 2px solid #091B27;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  fill: #143A54;
  background: #EEE8BF;
}

#sidebar .sidebar-tab .directory-list .entity {
  border-bottom: 2px groove #091B27;
  border-top: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(90%, rgba(52, 152, 219, 0.5)), color-stop(10%, rgba(255, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(52, 152, 219, 0.5) 90%, rgba(255, 0, 0, 0) 10%);
  background-image: linear-gradient(to left, rgba(52, 152, 219, 0.5) 90%, rgba(255, 0, 0, 0) 10%);
}

#sidebar .sidebar-tab .directory-list .entity.journal {
  background: rgba(52, 152, 219, 0.5);
}

#sidebar .sidebar-tab .directory-list .playlist-header h4,
#sidebar .sidebar-tab .directory-list h3 {
  padding-bottom: 2px;
  background: url(../imgs/paint_border.png);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: left bottom;
}

#sidebar .sidebar-tab .directory-list .directory-item.scene h3 {
  background: none;
}

#sidebar .sidebar-tab .dice-result h4 {
  color: #000;
}

#sidebar #combat #combat-controls {
  background: #EEE8BF;
  color: #000;
}

#sidebar #combat #combat-controls .combat-control {
  font-size: 1.2em;
}

#sidebar #combat #combat-round .encounters a,
#sidebar #combat #combat-round .encounters a.combat-cycle {
  color: #EEE8BF;
  font-size: 1em;
}

#sidebar #combat #combat-round .encounters h3,
#sidebar #combat #combat-round .encounters h4 {
  font-size: 1.1em;
}

#sidebar #combat #combat-round .encounters h4 {
  color: #EEE8BF;
}

#sidebar #combat li.combatant {
  border-bottom: 2px groove #091B27;
  border-top: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(90%, rgba(52, 152, 219, 0.5)), color-stop(10%, rgba(255, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(52, 152, 219, 0.5) 90%, rgba(255, 0, 0, 0) 10%);
  background-image: linear-gradient(to left, rgba(52, 152, 219, 0.5) 90%, rgba(255, 0, 0, 0) 10%);
}

#sidebar #combat li.combatant .token-name .combatant-control {
  color: #EEE8BF;
}

#sidebar #scenes .scene h3 {
  color: #EEE8BF;
}

.dialog .dialog-button .d10 {
  height: 24px;
  width: 24px;
  border: 0;
}

#chat #chat-controls div.roll-type-select select,
#chat #chat-form textarea,
#chat #chat-log .message {
  background: #EEE8BF;
}

#chat #chat-log .chat-card.skill-roll .card-header {
  padding-bottom: 2px;
  background: url(../imgs/paint_border.png);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: left bottom;
}

#chat #chat-log .chat-card.skill-roll .card-content .raises {
  font-weight: bold;
}

#chat #chat-log .message {
  font-size: 1em;
  color: #000;
  padding: 0;
}

#chat #chat-log .message .message-header {
  color: #EEE8BF;
  background: #143A54;
  padding-left: 8px;
  padding-right: 8px;
}

#chat #chat-log .message .message-header .message-sender {
  padding-bottom: 2px;
  font-weight: bold;
  text-indent: 0.4em;
  line-height: 1.3em;
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

#chat #chat-log .message .message-header h4 {
  color: #EEE8BF;
}

#chat #chat-log .message .message-content {
  padding: 8px;
  margin-top: 0;
  margin-bottom: 4px;
}

#chat #chat-log .message .message-content h3,
#chat #chat-log .message .message-content h4,
#chat #chat-log .message .message-content h5,
#chat #chat-log .message .message-content h6 {
  margin-top: 0;
  margin-bottom: 4px;
}

#chat #chat-log .message .message-content .raise-combos-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
}

#chat #chat-log .message .message-content .raise-combos-list .combo {
  padding: 4px;
  margin: 2px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
}

/* Styles limited to svnsea2e sheets */
.svnsea2e form .form-group,
.svnsea2e form .form-group-stacked,
.svnsea2e form .wounds {
  margin: 4px;
}

.svnsea2e form .form-group > label {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.svnsea2e .item-form {
  font-family: "Roboto", sans-serif;
}

.svnsea2e .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.svnsea2e .sheet-body,
.svnsea2e .sheet-body .tab,
.svnsea2e .sheet-body .tab .editor {
  height: 95%;
}

.svnsea2e .tox .tox-editor-container {
  background: #EEE8BF;
}

.svnsea2e .tox .tox-edit-area {
  padding: 0 8px;
}

.svnsea2e .tabs {
  border-bottom: 2px solid #091B27;
}

.svnsea2e .tabs h2 {
  border: 0 solid transparent;
  font-size: 1.1em;
  margin: 0;
}

.svnsea2e .tabs .item {
  font-weight: bold;
  text-transform: uppercase;
  border-top: 2px solid #091B27;
  border-left: 2px solid #091B27;
  border-right: 2px solid #091B27;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px;
  margin: 4px 4px 0 4px;
  background: #143A54;
}

.svnsea2e .tabs .item h2 {
  color: #EEE8BF;
  background: none;
}

.svnsea2e .tabs .item.active {
  background: #EEE8BF;
  text-shadow: none;
}

.svnsea2e .tabs .item.active h2 {
  color: #000;
}

.sheet {
  /*.favor input[type="text"],
.trait input[type="text"],
.skill input[type="text"] {
  text-align: center;
  border-radius: $circle-size;
  height: $circle-size;
  max-width: $circle-size;
  padding: $padding-sm;
  background: white;
  border: $brd-s-md-dk;
}

.sheet-header .favor,
.sheet-header .trait,
.skills .skill,
.traits .trait {
  background-image: linear-gradient(to right, $g-c-dk 90%, $g-c-lt 10%);
  padding: 0;
  border-radius: $circle-size;
}*/
}

.sheet img {
  border: 0 solid transparent;
}

.sheet h1.charname,
.sheet h3 {
  padding-bottom: 2px;
  background: url(../imgs/paint_border.png);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: left bottom;
}

.sheet input[type="text"] {
  min-width: 30px;
  text-align: left;
  border: 0 solid transparent;
}

.sheet nav.sheet-tabs {
  height: auto;
}

.sheet .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.sheet .sheet-header .villanyrank {
  margin-left: 8px;
}

.sheet .sheet-header .profile-img {
  margin-right: 4px;
}

.sheet .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sheet .sheet-header .flex-group-center,
.sheet .sheet-header .flex-group-left {
  padding: 0;
}

.sheet .sheet-header .grid .relrep,
.sheet .sheet-header .grid .resources {
  border-top: 1px solid #091B27;
}

.sheet .sheet-header h1.charname {
  height: 50px;
  margin: 4px;
  text-indent: 0;
}

.sheet .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  background: none;
  text-indent: 15px;
  font-family: "Trade Winds", cursive;
}

.sheet .sheet-header .twodigit input[type="text"] {
  max-width: 30px;
  text-align: right;
}

.sheet .sheet-header  .herospts, .sheet .sheet-header .wealth {
  max-width: 30px;
  margin-right: 10px;
}

.sheet .tag {
  display: inline-block;
  margin: 0 2px 2px 0;
  padding: 4px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.1);
}

.sheet .secretsociety .tag {
  -webkit-box-flex: 0.25;
  -ms-flex-positive: 0.25;
  flex-grow: 0.25;
  -ms-flex-negative: 0.25;
  flex-shrink: 0.25;
  -ms-flex-preferred-size: 10px;
  flex-basis: 10px;
}

.sheet .flexrow .tag-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95%;
  flex: 0 0 95%;
}

.sheet .flexrow .skill-selector,
.sheet .flexrow .advantage-selector
.language-selector {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2%;
  flex: 0 0 2%;
}

.sheet .details-list,
.sheet .tag-list {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sheet .arcana {
  width: 85%;
}

.sheet .items-list {
  list-style: none;
  margin: 8px 0;
  padding: 0;
  overflow-y: auto;
  line-height: 30px;
}

.sheet .items-list .item-header {
  font-weight: bold;
}

.sheet .items-list .item {
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #DBD5B0;
}

.sheet .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 4px;
}

.sheet .items-list .item img {
  display: block;
}

.sheet .items-list .item:last-child {
  border-bottom: none;
}

.sheet .items-list .item .item-weight {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  border-left: 1px solid #DBD5B0;
  border-right: 1px solid #DBD5B0;
}

.sheet .items-list .item .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sheet .items-list .item .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sheet .items-list .item .item-controls a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  text-align: center;
  color: #000;
}

.sheet .items-list .item .item-summary {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 1em;
  line-height: 1.2em;
  padding: 8px;
  border-top: 4px solid #DBD5B0;
}

.sheet .items-list .item-name {
  margin: 0;
}

.sheet .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.sheet .favor-label,
.sheet .skill-name,
.sheet .trait-name {
  font-weight: 600;
}

.sheet .wound-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.sheet .brute h2.ability-title {
  text-shadow: none;
}

.actor .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 195px;
  flex: 0 0 195px;
}

.actor .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 175px;
  flex: 0 0 175px;
  height: 175px;
  width: 175px;
  border: 4px solid #091B27;
  border-radius: 175px;
}

.actor .sheet-header .wounds .pts {
  padding-left: 10px;
}

.actor .sheet-header .wounds .pts.bigger {
  padding-left: 37px;
}

.actor .sheet-header .raise-tracking button {
  width: 2em;
  margin: 0 1em;
}

.actor .danger-points input[type="text"] {
  font-size: 6em;
  height: 1.5em;
  width: 1.5em;
  border: 4px solid #091B27;
  border-radius: 2em;
  text-align: center;
}

.actor .danger-points button {
  margin-top: 3em;
  width: auto;
}

.actor .sheet-header.dangerpts .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  border: 1px solid #091B27;
  border-radius: 50px;
}

.actor .red {
  color: red;
}

.item .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 175px;
  flex: 0 0 175px;
}

.item .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 125px;
  flex: 0 0 125px;
  height: 125px;
  width: 125px;
  border: 4px solid #091B27;
  border-radius: 125px;
}

.item .sheet-header .item-subtitle {
  font-size: 0.8em;
  opacity: 0.5;
}
