@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}

@mixin paint-bottom-border {
  padding-bottom: 2px;
  background: url(../imgs/paint_border.png);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: left bottom;
}

@mixin hover-highlight {
  color: $f-c-lt;
  border: $brd-s-sm-lt;
  border-bottom: $brd-s-sm-glow;
  box-shadow: 0 0 10px inset $c-sec;
}

@mixin main-bg {
  background: $bg-c-rgba-dk;
  border: $brd-s-sm-dk;
}
