$padding-xs: 2px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
$margin-xs: 2px;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 20px;
$bs-sm: 1px;
$bs-md: 2px;
$bs-lg: 3px;
$border-s-sm-main: $bs-sm solid $c-primary;
$border-s-md-main: $bs-md solid $c-primary;
$border-s-lg-main: $bs-lg solid $c-primary;
$border-g-sm-main: $bs-sm groove $c-primary;
$border-g-md-main: $bs-md groove $c-primary;
$border-g-lg-main: $bs-lg groove $c-primary;
$border-s-sm-secondary: $bs-sm solid $c-secondary;
$border-s-md-secondary: $bs-md solid $c-secondary;
$border-s-lg-secondary: $bs-lg solid $c-secondary;
$no-border: $bs-sm solid transparent;
$profile-img-size: 175px;
$txt-shadow-prim: 0 0 8px $c-secondary;