form .form-group,
form .form-group-stacked,
form .wounds {
  margin: $margin-sm;
}

form .form-group > label {
  flex: 3;
}

form .form-group > label.icon-label {
  flex: 1;
}

.item-form {
  font-family: $f-body;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 95%;
}

.tox {
  .tox-editor-container {
    background: $bg-c-lt;
  }

  .tox-edit-area {
    padding: 0 $padding-md;
  }
}
