body {
  font-size: $f-s-norm;
  font-family: $f-body;
}

a:hover {
  text-shadow: $txt-shadow-prim;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75rem 0;
  padding: 0;
  font-weight: normal;
  font-family: $f-header;
  color: $f-c-dk;
  text-shadow: 1px 1px 4px $f-c-dk;
  border: none;
}

h1 {
  font-size: $f-s-3xl;
}

h2 {
  font-size: $f-s-2xl;
  @include paint-bottom-border
}

h3 {
  font-size: $f-s-xl;
}

h4 {
  font-size: $f-s-lg;
}

h5 {
  font-size: $f-s-md;
}

h6 {
  font-size: $f-s-norm;
}

#players {
  h3 {
    color: $f-c-lt;
  }

  ol .player-name.self {
    color: $f-c-lt;
  }
}

textarea {
  border: $no-border;
  margin-top: $margin-sm;
}

button {
  font-family: $f-body;
  font-size: $f-s-norm;
  color: $f-c-dk;
  background: $bg-c-lt;
}

.tox-tinymce,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime-local"],
select {
  font-family: $f-body;
  font-size: $f-s-norm;
  color: $f-c-dk;
  background: rgba(255, 255, 255, .6);
}

textarea:hover,
textarea:focus,
button:hover,
button:focus,
.tox-tinymce:hover,
.tox-tinymce:focus,
input[type="text"]:hover,
input[type="text"]:focus {
  box-shadow: 0 0 8px $c-prim;
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb{
  background: $c-prim-lt;
}

#navigation #nav-toggle,
.app {
  background: $bg-c-rgba-dk;
  color: $f-c-lt;
}

::-webkit-scrollbar-thumb {
  background: $c-prim;
  border: $no-border;
}

::-webkit-scrollbar {
  width: 10px;
}

#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context{
  border: 1px solid red;
  background: $bg-c-rgba-dk;
  color: $f-c-lt;
  border: $brd-s-sm-lt;
  box-shadow: 0 0 10px inset $c-sec;
  border-bottom: $brd-s-sm-glow;
}