body,
body#tinymce.mce-content-body {
  font-size: $f-s-norm;
  font-family: $f-body;
}

body{
  scrollbar-color: $c-prim-lt $c-prim-dk;
}

a:hover {
  text-shadow: $txt-shadow-prim;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75rem 0;
  padding: 0;
  font-weight: normal;
  font-family: $f-header;
  color: $f-c-dk;
  border: none;
}

h1 {
  font-size: $f-s-3xl;
}

h2 {
  font-size: $f-s-2xl;
  @include paint-bottom-border
}

h3 {
  font-size: $f-s-xl;
  text-indent: 10px;
}

h4 {
  font-size: $f-s-lg;
  text-indent: 8px;
}

h5 {
  font-size: $f-s-md;
  text-indent: 6px;
}

h6 {
  font-size: $f-s-norm;
  text-indent: 4px;
}

#calendar-time-container h1,
#calendar-time-container h2 {
    color: rgba(255,255,255,.87);
    background: none;
}

label.checkbox {
  font-size: $f-s-norm;
}

#players {
  @include main-bg h3 {
    color: $f-c-lt;
  }

  ol .player-name.self {
    color: $f-c-lt;
  }
}

#menu #menu-items {
  li h4 {
    color: $f-c-lt;
    font-size: $f-s-lg;
  }

  li > i {
    color: $f-c-lt;
    font-size: $f-s-lg;
  }
}

textarea {
  border: $no-border;
  margin-top: $margin-sm;
}

button {
  font-family: $f-body;
  font-size: $f-s-norm;
  color: $f-c-dk;
  background: $bg-c-lt;
}

.app.sheet .editor-content,
.tox .tox-edit-area,
.tox-tinymce,
input[type="text"],
input[type="password"],
input[type="datetime-local"],
select,
textarea {
  font-family: $f-body;
  font-size: $f-s-norm;
  color: $f-c-dk;
  background: $bg-c-rgba-lt;
}

.tox-tinymce:focus,
.tox-tinymce:hover,
button:focus,
button:hover,
input[type="text"]:hover,
input[type="text"]:focus,
textarea:focus,
textarea:hover {
  box-shadow: 0 0 8px $c-prim;
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
  background: $c-prim-lt;
}

.editor-edit {
  display: inline-block;
}

.app.sheet .editor-content {
  padding: $padding-md;
}

#navigation {
  .nav-item {
    border: $brd-s-sm-lt;
  }

  #nav-toggle {
    @include main-bg :hover {
      text-shadow: 0 0 10px $c-sec;
    }
  }

  #scene-list {
    .scene.gm {
      @include main-bg
    }

    .scene.context,
    .scene.view {
      @include hover-highlight
    }
  }
}

::-webkit-scrollbar-thumb {
  background: $c-prim;
  border: $no-border;
}

::-webkit-scrollbar {
  width: 10px;
}

#controls {
  .control-tool,
  .scene-control {
    @include main-bg
  }

  .control-tool.active,
  .control-tool:hover,
  .scene-control.active,
  .scene-control:hover {
    @include hover-highlight
  }
}

#hotbar {
  .bar-controls,
  .macro {
    @include main-bg
  }

  .bar-controls:hover,
  .macro:hover {
    @include hover-highlight
  }
}

.app {
  @include main-bg
}

#players h3 i {
  margin:0;
}
