.window-app {
  color: $f-c-primary;

  .window-content {
    color: $f-c-primary;
  }

  .window-header .window-title,
  .window-header a {
    color: $c-white;
  }
}

.rollable {
  &:focus,
  &:hover {
    color: $f-c-primary;
    text-shadow: 0 0 10px $c-secondary;
    cursor: pointer;
  }
}