/* -------------------------------------------- */

// Font families
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Trade+Winds&display=swap');
$f-header: 'Trade Winds', cursive;
$f-body: 'Roboto', sans-serif;

/* -------------------------------------------- */

// Font Sizes
$f-s-sm: 0.8em;
$f-s-norm: 1em;
$f-s-md: 1.1em;
$f-s-lg: 1.2em;
$f-s-xl: 1.3em;
$f-s-2xl: 1.6em;
$f-s-3xl: 2em;
$f-s-4xl: 6em;

/* -------------------------------------------- */

// Font Shadows
$txt-shadow-prim: 0 0 0.5rem $c-sec;
