<form class="{{cssClass}} flexcol brute" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SVNSEA2E.ActorName"}}" /></h1>
      <div class="resources flex-group-left wound-title">
        {{localize "SVNSEA2E.Wounds" }}
        <!--<span class="pts {{#if isPlayerCharacter}}bigger{{/if}}"><input type="text" name="data.wounds.value" value="{{data.wounds.value}}" data-dtype="Number" />
          /{{data.wounds.max}}</span> -->
      </div>
      <div class="resources flex-group-left wounds">
        {{#for 1 data.wounds.max 1}}
          {{#iff data.wounds.value '>=' @index}}
            <i data-name="data.wounds.value" data-value="{{@index}}" data-type="wounds" class="fillable fas fa-heart fa-lg"></i>
          {{else}}
            <i data-name="data.wounds.value" data-value="{{@index}}" data-type="wounds" class="fillable far fa-heart fa-lg"></i>
          {{/iff}}
        {{/for}}
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body ability">
    {{!-- Ability Tab --}}
    <h3 class="trait-title">{{localize "SVNSEA2E.Traits"}}</h3>
    {{#each data.traits as |trait key|}}
      <div class="trait flexrow flex-group flex-left">
          {{trait.label}}
      </div>
      <div class="trait flexrow flex-group flex-left">
        {{#for 1 trait.max 1}}
          {{#iff trait.value '>=' @index}}
            <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable fas fa-circle"></i>
          {{else}}
            <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable far fa-circle"></i>
          {{/iff}}
        {{/for}}
      </div>
    {{/each}}
    <h2 class="ability-title">{{localize "SVNSEA2E.Ability"}}</h2>
    <div class="flex-group flex-between">
      <div class=" flexrow flex-group flex-between">
        <input type="text" name="data.ability.name" value="{{data.ability.name}}" data-dtype="String" placeholder="{{localize "SVNSEA2E.Ability"}} {{localize "SVNSEA2E.Name"}}" />
      </div>
      <div class="virtue flexrow flex-group flex-between">
        <textarea name="data.data.ability.name.description" rows="8" cols="80" data-dtype="String" placeholder="{{localize "SVNSEA2E.Ability"}}  {{localize "SVNSEA2E.Description"}}">{{ data.data.ability.name.description }}</textarea>
      </div>
    </div>
  </section>
</form>
