<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SVNSEA2E.ActorName"}}" /></h1>
      {{> "systems/svnsea2e/templates/actors/parts/actor-villainy.html"}}
      {{> "systems/svnsea2e/templates/actors/parts/actor-wounds.html"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">
      <h2>{{localize "SVNSEA2E.Features"}}</h2>
    </a>
    <a class="item" data-tab="fate">
      <h2>{{localize "SVNSEA2E.Fate"}}</h2>
    </a>
    <a class="item" data-tab="concept">
      <h2>{{localize "SVNSEA2E.Concept"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/svnsea2e/templates/actors/parts/actor-traits.html"}}

      <ol class="items-list">
        <li class="flexrow item-header">
          <h3 class="item-name flexrow">{{localize "SVNSEA2E.MonsterQualities"}}</h3>
          <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'SVNSEA2E.AddMonsterQuality'}}" data-type="monsterquality" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
              <i class="fas fa-plus"></i> {{localize "SVNSEA2E.Add"}}
            </a>
          </div>
        </li>
        {{#each actor.monsterqualities as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{item.editlabel}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{item.deletelabel}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
      </ol>
    </div>

    {{!-- Fate Tab --}}
    {{> "systems/svnsea2e/templates/actors/parts/actor-fate.html"}}

    {{!-- Concept Tab --}}
    {{> "systems/svnsea2e/templates/actors/parts/actor-concept.html"}}
  </section>
</form>
