.sheet-header {
  flex: 0 0 195px;

  .profile-img {
    flex: 0 0 $profile-img-lg-size;
    height: $profile-img-lg-size;
    width: $profile-img-lg-size;
    border: $brd-s-lg-dk;
    border-radius: $profile-img-lg-size;
  }

  .wounds .pts {
    padding-left: 10px;
  }

  .wounds .pts.bigger {
    padding-left: 37px;
  }

  .raise-tracking {
    button {
      width: 2em;
      margin: 0 1em;
    }
  }
}

.danger-points {
  input[type='text'] {
    font-size: $f-s-4xl;
    height: 1.5em;
    width: 1.5em;
    border: $brd-s-lg-dk;
    border-radius: 2em;
    text-align: center;
  }

  button {
    margin-top: 3em;
    width: auto;
  }
}

.sheet-header.dangerpts .profile-img {
  flex: 0 0 $profile-img-sm-size;
  height: $profile-img-sm-size;
  width: $profile-img-sm-size;
  border: $brd-s-sm-dk;
  border-radius: $profile-img-sm-size;
}

.red {
  color: red;
}
