.sheet-header {
  flex: 0 0 $actor-profile-img-size;

  .profile-img {
    flex: 0 0 $actor-profile-img-size;
    height: $actor-profile-img-size;
    width: $actor-profile-img-size;
  }
}

.arcana {
  input[type="text"] {
    width: 85%;
  }
}