.sheet-header {
  flex: 0 0 $profile-img-lg-size;

  .profile-img {
    flex: 0 0 $profile-img-lg-size;
    height: $profile-img-lg-size;
    width: $profile-img-lg-size;
  }
}

.arcana {
  input[type="text"] {
    width: 85%;
  }
}