img {
  border: $no-border;
}

h1.charname,
h3 {
  @include paint-bottom-border;
}

input[type='text'] {
  min-width: $min-input-width-xs;
  text-align: left;
  border: $no-border;
}

nav.sheet-tabs {
  height: auto;
  display: flex;
}

.sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: $margin-md;

  .villanyrank {
    margin-left: $margin-md;
  }

  .profile-img {
    margin-right: $padding-sm;
  }

  .header-fields {
    flex: 1;
  }

  .flex-group-center,
  .flex-group-left {
    padding: 0;
  }

  .grid .relrep,
  .grid .resources {
    border-top: $brd-s-sm-dk;
  }

  h1.charname {
    height: 50px;
    margin: $margin-sm;
    text-indent: 0;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
      background: none;
      text-indent: 15px;
      font-family: $f-header;
    }
  }

  .twodigit input[type='text'] {
    max-width: $max-input-width-xs;
    text-align: right;
  }

  .herospts,
  .wealth {
    max-width: 30px;
    margin-right: 10px;
  }
}

.tag {
  display: inline-block;
  margin: 0 $margin-xs $margin-xs 0;
  padding: $padding-sm;
  font-size: $f-s-norm;
  background: rgba(0, 0, 0, 0.1);
}

.secretsociety .tag {
  flex-grow: 0.25;
  flex-shrink: 0.25;
  flex-basis: 10px;
}

.flexrow {
  .tag-list {
    flex: 0 0 95%;
  }

  .skill-selector,
  .advantage-selector .language-selector {
    flex: 0 0 2%;
  }
}

.details-list,
.tag-list {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.arcana {
  width: 85%;
}

.items-list {
  list-style: none;
  margin: $margin-md 0;
  padding: 0;
  overflow-y: auto;
  line-height: 30px;

  .item-header {
    font-weight: bold;
  }

  .item {
    line-height: 24px;
    padding: 3px 0;
    border-bottom: $brd-s-sm-lt;

    .item-image {
      flex: 0 0 24px;
      margin-right: $margin-sm;
    }

    img {
      display: block;
    }

    &:last-child {
      border-bottom: none;
    }

    .item-weight {
      flex: 0 0 60px;
      border-left: $brd-s-sm-lt;
      border-right: $brd-s-sm-lt;
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    // Item Control Buttons
    .item-controls {
      flex: 0 0 44px;
      justify-content: flex-end;

      a {
        flex: 0 0 22px;
        text-align: center;
        color: $f-c-dk;
      }
    }
    // Item Dropdown Summary
    .item-summary {
      flex: 0 0 100%;
      font-size: $f-s-norm;
      line-height: $f-s-lg;
      padding: $padding-md;
      border-top: $brd-s-lg-lt;
    }
  }

  .item-name {
    margin: 0;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
  }
}

.favor-label,
.skill-name,
.trait-name {
  font-weight: 600;
  //  margin-left: $margin-md;
  //  margin-top: 5px;
}

.wound-title {
  font-weight: 600;
  margin-bottom: 10px;
}

// Brute specific stuff
.brute h2.ability-title {
  text-shadow: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 140px;
  gap: 4px;
}

.skill {
  height: 19px;
}
