.tabs {
  border-bottom: $brd-s-md-dk;

  h2 {
    border: $no-border;
    font-size: $f-s-md;
    margin: 0;
  }

  .item {
    font-weight: bold;
    text-transform: uppercase;
    border-top: $brd-s-md-dk;
    border-left: $brd-s-md-dk;
    border-right: $brd-s-md-dk;
    border-bottom: 0;
    border-top-left-radius: $padding-sm;
    border-top-right-radius: $padding-sm;
    padding: $padding-sm;
    margin: $padding-sm $padding-sm 0 $padding-sm;
    background: $c-prim;

    h2 {
      color: $f-c-lt;
      background: none;
    }
  }

  .item.active {
    background: $c-sec;
    text-shadow: none;
    h2 {
      color: $f-c-dk;
    }
  }
}
