.tabs {
  border-top: $border-g-sm-main;
  border-bottom: $border-g-sm-main;

  h2 {
    border: $no-border;
    font-size: $font-s-md;
    margin:0;
  }

  .item {
    font-weight: bold;
    text-transform: uppercase;
    padding: $padding-md 3px;
  }

  .item.active {
    border-bottom: $border-s-lg-secondary;
    text-shadow: none;
  }
}