.tabs {
  border-top: $border-g-sm-main;
  border-bottom: $border-g-sm-main;


  .item {
    font-weight: bold;
    text-transform: uppercase;
    padding: $padding-lg;
  }

  .item.active {
    border-bottom: $border-s-lg-secondary;
    text-shadow: none;
  }
}