.tabs {
  border-bottom: $brd-s-md-dk;

  h2 {
    border: $no-border;
    font-size: $f-s-md;
    margin: 0;
  }

  .item {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    border-top: $brd-s-md-dk;
    border-left: $brd-s-md-dk;
    border-right: $brd-s-md-dk;
    border-bottom: 0;
    border-top-left-radius: $padding-sm;
    border-top-right-radius: $padding-sm;
    padding: $padding-sm;
    margin: $padding-sm $padding-xs 0 $padding-xs;
    background: $c-prim;
    flex: 1;

    h2 {
      color: $f-c-lt;
      background: none;
    }

    &.active {
      background: $c-sec;
      text-shadow: none;
      h2 {
        color: $f-c-dk;
      }
    }
  }
}
