& {
  font-size: 0.8em;
}

.window-content {
  background: none;
  color: white;
}

.items {
  display: flex;
  gap: $margin-md;
  flex-direction: column;
  padding-bottom: $padding-lg;
  padding-right: $padding-md;
}

.actor-resume {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;

  h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
  }
}

.score-container {
  display: flex;
  justify-content: space-around;
  gap: $margin-lg;
}

.score-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
