<div class="svnsea2e">
  <div class="chat-card skill-roll" data-actor-id="{{ actor._id }}" data-skill="{{ skill }}">
    <header class="card-header">
      <h4 class="skill-title"><i class="fas fa-dice-d20"></i>{{ title }}</h4>
    </header>
    <div class="card-content">
      <div class="raises">{{ raises }} {{ localize "SVNSEA2E.Raises" }}</div>
    </div>
    <footer class="card-footer">
      <h5 class="">{{ localize "SVNSEA2E.RaiseCombos" }}</h5>
      <div class="raise-combos">
        {{ rCombos }}
      </div>
      <div class="skill-rolls">
        <h5 class="">{{ localize "SVNSEA2E.Rolls" }}</h5>
        <div class="">{{ rolls }}</div>
      </div>
      {{#if rerolled}}
        <div class="skill-reroll">
          {{ reroll }}
        </div>
      {{/if}}
      {{#if exploded}}
        <div class="skill-explosions">
          {{ localize "SVNSEA2E.Exploded" }} {{ explosions }}
        </div>
      {{/if}}
    </footer>
  </div>
</div>