<div class="dnd5e chat-card item-card" data-actor-id="{{actor._id}}" data-skill="{{skill}}">
 <header class="card-header flexrow">
     <h3 class="title">{{ title }}</h3>
 </header>
    <div class="card-content flexrow">
        <div class="flexrow"><h4 class="numdice">{{ localize "SVNSEA2E.NumDice" }}</h4><div>{{ formula }}</div></div>
        <div>{{ rolls }}</div>
        <div>{{ raises }}</div>
    </div>

    <div class="card-buttons">
        {{#if hasAttack}}<button data-action="attack">{{ localize "DND5E.Attack" }}</button>{{/if}}
    </div>

    <footer class="card-footer">
    </footer>
</div>
