<form>
  <div class="form-group">
    <label for="trait">{{ localize "SVNSEA2E.Trait" }}</label>
    <select id="trait" name="trait">
    {{#each traits as |value label|}}
        <option value="{{value}}">{{ label }}</option>
    {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="bonusDice">{{ localize "SVNSEA2E.BonusDice" }}</label>
    <input type="text" id="bonusDice" name="bonusDice" value="0" />
  </div>
  <div class="form-group">
    <label for="increaseThreshold">{{ localize "SVNSEA2E.IncreaseThreshold" }}</label>
    <input type="checkbox" id="increaseThreshold" name="increaseThreshold" value="1" />
  </div>
  <div class="form-group">
    <label for="addOneToDice">{{ localize "SVNSEA2E.AddOneToDice" }}</label>
    <input type="checkbox" id="addOneToDice" name="addOneToDice" value="1" />
  </div>
  <!-- <div class="form-group">
    <label for="setInitiative">{{ localize "SVNSEA2E.SetInitiative" }}</label>
    <input type="checkbox" name="setInitiative" value="0" />
  </div> -->
</form>
