<div class="chat-card skill-roll" data-actor-id="{{ actor._id }}" data-skill="{{ skill }}">
  <h5 class="skill-title">{{ title }}</h5>
  <div class="raises">{{ raises }}{% if raises == 1 %}{{ localize "SVNSEA2E.Raise" }}{% else %} {{ localize "SVNSEA2E.Raises" }}{% end if %}</div>
  <h6 class="details-title">{{ localize "SVNSEA2E.Details" }}</h6>
  <div class="card-details">
    <div class="raise-combos">
      {{ rCombos }}
    </div>
    <div class="rolls">
      <div class="">{{ rolls }}</div>
    </div>
    {{#if rerolled}}
      <div class="reroll">
        {{ reroll }}
      </div>
    {{/if}}
    {{#if exploded}}
      <div class="explosions">
        {{ explosions }}
      </div>
    {{/if}}
    <div class="threshold">
      {{ threshold }}
    </div>
  </div>
</div>