.tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.languages-list {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

h3.skill-name {
  margin: 0 0.5rem;
}

.sheet-header .wounds input[type="text"],
.sheet-body .trait input[type="text"],
.sheet-body .skill input[type="text"] {
  max-width: 25px;
  text-align: right;
}
