<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="advantage-list">
        {{#each choices as |choice key|}}
        <li>
            <label class="checkbox">
                <input type="checkbox" name="{{choice.label}}" data-dtype="Boolean" {{checked choice.chosen}}>
                {{choice.label}}
            </label>
        </li>
        {{/each}}
    </ol>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "SVNSEA2E.Save"}}</button>
</form>
