<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
      <div class="form-group">
        <label for="data.type">{{localize "SVNSEA2E.Type"}}</label>
        <select class="type" id="data.type" name="data.type">
          {{#select type}}
            <option value="none"></option>
            {{#each config.artifactTypes as |label type|}}
              <option value="{{type}}">{{label}}</option>
            {{/each}}
          {{/select}}
          </select>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      <h2>{{localize "SVNSEA2E.Description"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>