<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
    {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
    <div class="form-group">
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body description">
    <div class="item-properties">
      <div class="form-group Cost">
        <label for="data.cost.normal" class="resource-label">{{localize "SVNSEA2E.Cost"}}</label>
        <input name="data.cost.normal" type="text" value="{{data.cost.normal}}" data-dtype="Number"/>
      </div>
      </div>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </section>
</form>