<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
      <div class="form-group">
        <label for="data.nation">{{localize "SVNSEA2E.Nation"}}</label>
        <select class="nation" name="data.nation">
          {{#select data.nation}}
            <option value="none"></option>
            {{#each config.nations as |label nation|}}
              <option value="{{nation}}">{{label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      <h2>{{localize "SVNSEA2E.Description"}}</h2>
    </a>
    <a class="item" data-tab="quirk">
      <h2>{{localize "SVNSEA2E.Quirk"}}</h2>
    </a>
    <a class="item" data-tab="details">
      <h2>{{localize "SVNSEA2E.Details"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Quirk Tab --}}
    <div class="tab" data-group="primary" data-tab="quirk">
      {{editor content=data.quirk target="data.quirk" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <h3 class="skill-title">{{localize "SVNSEA2E.Skills"}}</h3>
      <div class="skills flexrow flex-group flex-left">
        <ul class="skills-list">
          {{#each data.selectedskills as |k v|}}
            <li class="tag {{v}}">{{k}}</li>
          {{/each}}
        </ul>
        <a class="skill-selector" data-options="skills"><i class="fas fa-edit"></i></a>
      </div>
      <h3 class="advantages-title">{{localize "SVNSEA2E.Advantages"}}</h3>
      <div class="advantages flexrow flex-group flex-left">
        <ul class="advantages-list">
          {{#each data.selectedadvantages as |k v|}}
            <li class="tag {{v}}">{{k}}</li>
          {{/each}}
        </ul>
        <a class="advantage-selector" data-options="advantages"><i class="fas fa-edit"></i></a>
      </div>
    </div>
  </section>
</form>