<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
      <div class="grid grid-5col">
        <div class="flex-group flexrow flex-between favor">
          <label for="system.favor" class="favor-label">{{localize "SVNSEA2E.Favor"}}</label>
          <input type="text" name="system.favor" id="system.favor" value="{{favor}}" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      <h2>{{localize "SVNSEA2E.Description"}}</h2>
    </a>
    <a class="item" data-tab="concern">
      <h2>{{localize "SVNSEA2E.Concern"}}</h2>
    </a>
    <a class="item" data-tab="earnfavor">
      <h2>{{localize "SVNSEA2E.EarnFavor"}}</h2>
    </a>
    <a class="item" data-tab="callupon">
      <h2>{{localize "SVNSEA2E.UseFavor"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor description target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Concern Tab --}}
    <div class="tab concern" data-group="primary" data-tab="concern">
      {{editor concern target="system.concern" button=true owner=owner editable=editable}}
    </div>

    {{!-- Earn Favor Tab --}}
    <div class="tab earnfavor" data-group="primary" data-tab="earnfavor">
      {{editor earnFavor target="system.earnfavor" button=true owner=owner editable=editable}}
    </div>

    {{!-- Use Favor Tab --}}
    <div class="tab callupon" data-group="primary" data-tab="callupon">
      {{editor callUpon target="system.callupon" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
