<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
    {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      <h2>{{localize "SVNSEA2E.Description"}}</h2>
    </a>
    <a class="item" data-tab="charter">
      <h2>{{localize "SVNSEA2E.Charter"}}</h2>
    </a>
    <a class="item" data-tab="concern">
      <h2>{{localize "SVNSEA2E.Concern"}}</h2>
    </a>
    <a class="item" data-tab="earnfavor">
      <h2>{{localize "SVNSEA2E.EarnFavor"}}</h2>
    </a>
    <a class="item" data-tab="callupon">
      <h2>{{localize "SVNSEA2E.UseFavor"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Charter Tab --}}
    <div class="tab charter" data-group="primary" data-tab="charter">
      {{editor content=data.charter target="data.charter" button=true owner=owner editable=editable}}
    </div>

    {{!-- Concern Tab --}}
    <div class="tab concern" data-group="primary" data-tab="concern">
      {{editor content=data.concern target="data.concern" button=true owner=owner editable=editable}}
    </div>

    {{!-- Earn Favor Tab --}}
    <div class="tab earnfavor" data-group="primary" data-tab="earnfavor">
      {{editor content=data.earnfavor target="data.earnfavor" button=true owner=owner editable=editable}}
    </div>

    {{!-- Use Favor Tab --}}
    <div class="tab callupon" data-group="primary" data-tab="callupon">
      {{editor content=data.callupon target="data.callupon" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>