<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
      <div class="grid grid-2col">
        <div class="form-group flex-group">
          <label for="data.sorctype">{{localize "SVNSEA2E.Type"}}</label>
          <select class="sorcery-type" name="data.sorctype">
            {{#select data.sorctype}}
              <option value="none"></option>
              {{#each config.sorceryTypes as |label type|}}
                <option value="{{type}}">{{label}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="form-group flex-group">
          <label for="data.sorcdur">{{localize "SVNSEA2E.Duration"}}</label>
          <select class="sorcery-type" name="data.sorcdur">
            {{#select data.sorcdur}}
              <option value="none"></option>
              {{#each config.durations as |label duration|}}
                <option value="{{duration}}">{{label}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      <div class="relrep grid grid-2col">
        <div class="form-group flex-group">
          <label for="data.sorccat">{{localize "SVNSEA2E.Category"}}</label>
          <select class="sorcery-category" name="data.sorccat">
            {{#select data.sorccat}}
              <option value="none"></option>
              {{#each config.sorcerycats as |label cat|}}
                <option value="{{cat}}">{{label}}</option>
              {{/each}}
            {{/select}}
          </select>
          </div><div class="form-group flex-group">
            <label for="data.sorcsubcat">{{localize "SVNSEA2E.SubCategory"}}</label>
            <select class="sorcery-subcategory" name="data.sorcsubcat">
              {{#select data.sorcsubcat}}
                <option value="none"></option>
                {{#each config.sorcerysubcats as |label cat|}}
                  <option value="{{cat}}">{{label}}</option>
                {{/each}}
              {{/select}}
            </select>
            </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      <h2>{{localize "SVNSEA2E.Description"}}</h2>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>