<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
    {{> "systems/svnsea2e/templates/items/parts/item-header.html"}}
    </div>
  </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <div class="form-group">
          <label for="data.scale">{{localize "SVNSEA2E.SorceryScale"}}</label>
          <select class="scale" name="data.scale">
            {{#select data.nation}}
              <option value="none"></option>
              {{#each config.sorceryscale as |label scale|}}
                <option value="{{scale}}">{{label}}</option>
              {{/each}}
            {{/select}}
          </select>
          </div>
          <div class="flex-group-left">
            <input type="text" name="data.type" value="{{data.type}}" placeholder="{{localize "SVNSEA2E.SorceryType"}}" />
          </div>
        </div>
    </section>
</form>
