<div class="tab stories" data-group="primary" data-tab="stories">
  <h3>{{localize "SVNSEA2E.Stories"}}</h3>
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">Name</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add item</a>
      </div>
    </li>
    {{#each actor.stories as |item id|}}
      <li class="story flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
        <h3 class="item-name">{{item.name}}</h3>
        <div class="story-controls">
          <a class="story-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="story-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
</div>