
  <h3 class="trait-title">{{localize "SVNSEA2E.Traits"}}</h3>
  <div class="traits grid grid-3col">
    {{#each data.traits as |trait key|}}
      <div class="trait flexrow flex-group flex-left">
        <span class="trait-name">
          {{trait.label}}
        </span>
        <!-- <input type="text" name="data.traits.{{key}}.value" value="{{trait.value}}" data-dtype="Number" /> -->
        <span>
        {{#for 1 trait.max 1}}
          {{#iff trait.value '>=' @index}}
            <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable fas fa-circle"></i>
          {{else}}
            <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable far fa-circle"></i>
          {{/iff}}
        {{/for}}
        </span>
      </div>
    {{/each}}
  </div>
  {{#if hasSkills}}
    <h3 class="skill-title">{{localize "SVNSEA2E.Skills"}}</h3>
    <div class="skills grid grid-3col">
      {{#each data.skills as |skill key|}}
        <div class="skill flexrow flex-group flex-left">
          <span class="skill-name rollable" data-roll="{{skill.value}}" data-label="{{key}}">
            {{skill.label}}
          </span>
          <!-- <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" /> -->
          <span>
          {{#for 1 skill.max 1}}
            {{#iff skill.value '>=' @index}}
              <i data-name="data.skills.{{key}}.value" data-value="{{@index}}" data-type="skill" data-key="{{key}}" class="fillable fas fa-circle"></i>
            {{else}}
              <i data-name="data.skills.{{key}}.value" data-value="{{@index}}" data-type="skill" data-key="{{key}}" class="fillable far fa-circle"></i>
            {{/iff}}
          {{/for}}
          </span>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if hasLanguages}}
    <h3 class="language-title">{{localize "SVNSEA2E.Languages"}}</h3>
    <div class="language flexrow flex-group flex-left">
      <ul class="tag-list">
        {{#each data.selectedlangs as |k v|}}
          <li class="tag {{v}}">{{k}}</li>
        {{/each}}
      </ul>
      <a class="language-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </div>
  {{/if}}
