<div class="tab stories" data-group="primary" data-tab="stories">
    {{localize "SVNSEA2E.Concept"}}
    <h3>{{localize "SVNSEA2E.Arcana"}}</h3>
    {{localize "SVNSEA2E.Virtue"}}
    {{localize "SVNSEA2E.Description"}}
    {{editor content=data.virtue.description target="data.virtue.description" button=true owner=owner editable=editable}}
    {{localize "SVNSEA2E.Hubris"}}
    {{localize "SVNSEA2E.Description"}}
    {{editor content=data.hubris.description target="data.hubris.description" button=true owner=owner editable=editable}}
    <h3>{{localize "SVNSEA2E.Stories"}}</h3>
    <h3>{{localize "SVNSEA2E.Biography"}}</h3>
    {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
</div>