<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SVNSEA2E.ActorName"}}" /></h1>
<div class="grid grid-2col">
  <div class="form-group">
    <label for="data.nation">{{localize "SVNSEA2E.Nation"}}</label>
    <select class="nation" name="data.nation">
      {{#select data.nation}}
        <option value="none"></option>
        {{#each config.nations as |label nation|}}
          <option value="{{nation}}">{{label}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="flex-group-right age">
    <label for="data.age">{{localize "SVNSEA2E.Age"}}</label>
    <input type="text" name="data.age" value="{{data.age}}" />
  </div>
</div>
<div class="grid grid-2col">
  <div class="flex-group-left">
    <input type="text" name="data.religion" value="{{data.religion}}" placeholder="{{localize "SVNSEA2E.Religion"}}" />
  </div>
  <div class="flex-group-left">
    <input type="text" name="data.reputation" value="{{data.reputation}}" placeholder="{{localize "SVNSEA2E.Reputation"}}" />
  </div>
</div>