<div class="tab traits" data-group="primary" data-tab="traits">
  <h3 class="trait-title">{{localize "SVNSEA2E.Traits"}}</h3>
  <div class="traits grid grid-5col">
    {{#each data.traits as |trait key|}}
      <div class="trait flexrow flex-group flex-between">
        <label for="data.traits.{{key}}.value" class="trait-name">
          {{trait.label}}
        </label>
        <input type="text" name="data.traits.{{key}}.value" value="{{trait.value}}" data-dtype="Number" />
      </div>
    {{/each}}
  </div>
  <h3 class="skill-title">{{localize "SVNSEA2E.Skills"}}</h3>
  <div class="skills grid grid-5col">
    {{#each data.skills as |skill key|}}
      <div class="skill flexrow flex-group flex-between">
        <label for="data.skills.{{key}}.value" class="skill-name rollable" data-roll="{{skill.value}}" data-label="{{key}}">
          {{skill.label}}
        </label>
        <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
      </div>
    {{/each}}
  </div>
  <h3 class="language-title">{{localize "SVNSEA2E.Languages"}}</h3>
  <div class="language flexrow flex-group flex-left">
    <ul class="languages-list">
      {{#each data.selectedlangs as |k v|}}
        <li class="tag {{v}}">{{k}}</li>
      {{/each}}
    </ul>
    <a class="language-selector" data-options="languages"><i class="fas fa-edit"></i></a>
  </div>
  <h3 class="language-title">{{localize "SVNSEA2E.WealthPts"}}</h3>
  <div class="language flexrow flex-group flex-left">
    <input type="text" name="data.wealth" value="{{data.wealth}}" data-dtype="String" />
  </div>
</div>