<div class="tab arcana" data-group="primary" data-tab="arcana">
  <h3><input type="text" name="data.arcana.name" value="{{data.arcana.name}}" data-dtype="String" placeholder="{{localize "SVNSEA2E.Arcana"}}" /></h3>
  <div class="flex-group flex-between">
    <div class="virtue flexrow flex-group">
      <h4 class="">{{localize "SVNSEA2E.Virtue"}}: <input type="text" name="data.arcana.virtue.name" value="{{data.arcana.virtue.name}}" data-dtype="String" placeholder="{{localize "SVNSEA2E.Virtue"}} {{localize "SVNSEA2E.Name"}}" /></h4>
    </div>
    <div class="virtue flexrow flex-group flex-between">
      <textarea name="data.arcana.virtue.description" rows="8" cols="80" placeholder="{{localize "SVNSEA2E.Virtue"}}  {{localize "SVNSEA2E.Description"}}"></textarea>
    </div>
    <div class="hubris flexrow flex-group">
      <h4 class="">{{localize "SVNSEA2E.Hubris"}}: <input type="text" name="data.arcana.hubris.name" value="{{data.hubris.name}}" data-dtype="String" placeholder="{{localize "SVNSEA2E.Hubris"}} {{localize "SVNSEA2E.Name"}}" />
      </h4>
    </div>
    <div class="hubris flexrow flex-group flex-between">
      <textarea name="data.arcana.hubris.description" rows="8" cols="80" placeholder="{{localize "SVNSEA2E.Hubris"}}  {{localize "SVNSEA2E.Description"}}"></textarea>
    </div>
  </div>
</div>