<div class="tab concept" data-group="primary" data-tab="concept">
  <div class="nation grid grid-2col">
    <div class="form-group flex-group">
      <label for="data.nation">{{localize "SVNSEA2E.Nation"}}</label>
      <select class="nation" name="data.nation" id="data.nation">
        {{#select nation}}
          <option value="none"></option>
          {{#each config.nations as |label nation|}}
            <option value="{{nation}}">{{label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="form-group flex-group twodigit">
      <label for="data.age">{{localize "SVNSEA2E.Age"}}</label>
      <input type="text" name="data.age" value="{{age}}" id="data.age" />
    </div>
  </div>

  <div class="grid grid-2col">
    <div class="form-group flex-group">
      <label for="system.religion">{{localize "SVNSEA2E.Religion"}}</label>
      <input type="text" id="system.religion" name="system.religion" value="{{religion}}" placeholder="{{localize "SVNSEA2E.Religion"}}" />
    </div>
    <div class="form-group flex-group">
      <label for="system.reputation">{{localize "SVNSEA2E.Reputation"}}</label>
      <input type="text" id="system.reputation" name="system.reputation" value="{{reputation}}" placeholder="{{localize "SVNSEA2E.Reputation"}}" />
    </div>
  </div>
  {{editor concept target="system.concept" button=true owner=owner editable=editable}}
</div>
