<h3 class="trait-title">{{localize "SVNSEA2E.Traits"}}</h3>
<div class="traits grid grid-2col">
  {{#each data.traits as |trait key|}}
    <div class="trait flexrow flex-group flex-left">
      <span class="trait-name rollable" data-roll="{{trait.value}}" data-label="{{key}}">
        {{trait.label}}
      </span>
      <span>
      {{#for 1 trait.max 1}}
        {{#iff trait.value '>=' @index}}
          <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable fas fa-circle"></i>
        {{else}}
          <i data-name="data.traits.{{key}}.value" data-value="{{@index}}" data-type="trait" data-key="{{key}}" class="fillable far fa-circle"></i>
        {{/iff}}
      {{/for}}
      </span>
    </div>
  {{/each}}
  {{#if isMonster}}
  <div class="trait flexrow flex-group flex-left">
    <span class="trait-name">
      {{localize "SVNSEA2E.Fear"}}
    </span>
    <span>
    {{#for 1 data.fear.max 1}}
      {{#iff data.fear.value '>=' @index}}
        <i data-name="data.fear.value" data-value="{{@index}}" data-type="fear" data-key="fear" class="fillable fas fa-circle"></i>
      {{else}}
        <i data-name="data.fear.value" data-value="{{@index}}" data-type="fear" data-key="fear" class="fillable far fa-circle"></i>
      {{/iff}}
    {{/for}}
    </span>
  </div>
  {{/if}}
</div>
{{#if hasLanguages}}
  <h3 class="language-title">{{localize "SVNSEA2E.Languages"}}</h3>
  <div class="language flexrow flex-group flex-left">
    <ul class="tag-list">
      {{#each data.selectedlangs as |k v|}}
        <li class="tag {{v}}">{{k}}</li>
      {{/each}}
    </ul>
    <a class="language-selector" data-options="languages"><i class="fas fa-edit"></i></a>
  </div>
{{/if}}
